{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">
    .important { color: #336699; }
</style>
<!-- Place this tag in the <head> of your document -->
<script type="text/javascript">
    window.___gcfg = {lang: 'en'};
    (function()
    {var po = document.createElement("script");
        po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
<script type="text/javascript">
    $(document).ready(function(){
       $(".nav").find("a").bind("click", function(e){
           $(".nav").find("a").each(function() {
               $(this).parent("li").removeClass("active");
           });
           $(this).parent("li").addClass("active");
           // showing content div
           var contentDiv = $(this).attr("href");
           $(contentDiv).siblings("div.content").addClass("hidden");
           $(contentDiv).removeClass("hidden");

           e.preventDefault();
       });
    });
</script>
{% endblock %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit content" id="home">
    <h1>Independent Web Specialist, PHP developer, Project Manager </h1>
    <p>
        Hi, my name is Bartosz, im currently living in Gdańsk, Poland, I'm {{ birthDate }} old
        and I can help You with Your next big web project!
    </p>
</div>
<div class="hero-unit hidden content" id="starywrzeszcz">
    <h1>Stary Wrzeszcz</h1>
    <p>Stary Wrzeszcz means Old Wrzeszcz and <a href="http://pl.wikipedia.org/wiki/Wrzeszcz">Wrzeszcz</a> is an old district
        of Gdańsk (northern poland city by the baltic see) in with I was born, I live currently and will love forever.</p>
    <p>Project is about old architecture, abandoned places, buildings and pre-war times that had left a very distinct mark on whole place.</p>
    <p>First, it was about a blog/gallery but then I've moved to Facebook page where I can post photos at any time from my phone and interact with fans better than on a blog.</p>
    <p>
        <a href="http://www.starywrzeszcz.pl" title="Stary Wrzeszcz gallery/blog" class="btn btn-large">Stary Wrzeszcz site &raquo;</a>
        <a href="http://www.facebook.com/StaryWrzeszcz" class="btn btn-large" title="Stary Wrzeszcz Facebook Fanpage">Stary Wrzeszcz Facebook Page &raquo;</a>
    </p>
</div>
<div class="hidden content" id="experience">
    <h1>Independent PHP developer and Project Manager</h1>
    <p>Yes, this is the phrase that I've wrote on my computer more times than anything else.<br>Well... maybe except "dupa".
        Which is basically the same as "Hello World", but shorter... And more funny!<br>
    I hope...</p>
    <p>
        <a href="http://en.wikipedia.org/wiki/Hello_world" class="btn btn-primary btn-large">I don't get it</a>
        <a href="http://en.wikipedia.org/wiki/Hello_world" class="btn btn-large">What's "Hello world!" &raquo;</a>
    </p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>My Tweets</h2>
        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
            new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 2,
                interval: 30000,
                width: 'auto',
                height: 300,
                theme: {
                    shell: {
                        background: '#ffffff',
                        color: '#000000'
                    },
                    tweets: {
                        background: '#000000',
                        color: '#ffffff',
                        links: '#8c8c8c'
                    }
                },
                features: {
                    scrollbar: false,
                    loop: false,
                    live: false,
                    behavior: 'all'
                }
            }).render().setUser('brdesign').start();
        </script>
    </div>
    <div class="span4">
        <h2>Find me on</h2>
        <dl class="dl-horizontal">
            <dt>MojoLive</dt>
            <dd>check my skilz! <a href="http://mojolive.com/profile/brdesign">mojolive.com/profile/brdesign</a></dd>
            <dt>Linked in</dt>
            <dd><script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/bartosz-rychlicki/3/134/5bb" data-format="hover" data-text="Bartosz Rychlicki"></script></dd>
            <dt>Google Plus</dt>
            <dd><!-- Place this tag where you want the badge to render -->
                <div class="g-plus" data-href="https://plus.google.com/103147018499122651507?rel=author" data-width="250" data-height="69"></div></dd>
            <dt>Facebook</dt>
            <dd>If You want to catch a beer together poke <a href="https://www.facebook.com/brdesignpl" target="_blank">me on Facebook</a></dd>
            <dt>CV</dt>
            <dd>If You want to hire me, check my resume: <a href='http://vizualize.me/brdesign?r=brdesign' title='Bartosz Rychlicki's infographic CV on vizualize.me' target='_blank'><img src='http://vizualize.me/media/img/socialicons/viewmyviz.png'/></a></dd>
        </dl>
    </div>
    <div class="span4">
        <h2>Contact me</h2>
        <p>Feel free to drop me a line any time: <a href="mailto:bartosz.rychlicki@gmail.com">bartosz.rychlicki@gmail.com</a>
            <em>(Im not afraid of You, robot!)</em></p>
    </div>
</div>
{% endblock %}